/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
  
*/
:root.theme-light {
  --font: 'IBM Plex Mono', monospace; 
  --button-color: #353430;
  --corner: 25px; 
  --font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); 
  --font-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); 
  --bg-color: #FFF1F7;
  --title-color: #FFC2E6;
  --lamp-opacity: 0;
  --title-decor-color: #353430;
  --main-title-color: #353430;
  --accent-color: #FF8DCB;
  --paragraph-color: #353430;
  --menu-button-focus: 1px solid #353430;
  --menu-button-hover: 1px solid rgba(50, 49, 45, 0.4);
  --bg-image: url(../images/cover-image-light.png);
}


@media (prefers-color-scheme: light) {

  :root:not(.theme-dark) {
    --font: 'IBM Plex Mono', monospace; 
    --button-color: #353430;
    --corner: 25px; 
    --font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); 
    --font-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); 
    --bg-color: #FFF1F7;
    --title-color: #FFC2E6;
    --lamp-opacity: 0;
    --title-decor-color: #353430;
    --main-title-color: #353430;
    --accent-color: #FF8DCB;
    --paragraph-color: #353430;
    --menu-button-focus: 1px solid #353430;
    --menu-button-hover: 1px solid rgba(50, 49, 45, 0.4);
    --bg-image: url(../images/cover-image-light.png);
  }


}