/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: #000028;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --paragraph-color: #F1B2CE;
  --focus-visible: white;
  --menu-button: solid 1px rgba(255, 0, 112, 0.6);
  --corner: 25px;
  --bg-image: url(../images/cover-image-dark.png);
  --font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --font: "IBM Plex Mono", monospace;
}